.menu {display:flex;
justify-content:space-between;
background-color:black;
padding:15px;
font-size:20px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight:400;
color:white;}

body {margin:0px;
background-color: whitesmoke;
}

A {text-decoration: none;}

.bodyimg{
    position:relative;
}

.bodyimg p{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.bodyimg h3{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:20px;
    font-family:fantasy;
}

.bodyimg h1{
    position:absolute;
    top:10%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    font-size:40px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid img{border: 2px solid black;
border-radius: 50px;
}

.grid {flex-wrap:wrap;
display:flex;}

.origami{border-radius:20px;
background-color:white;
margin:80px;
width:390px;
font-family:fantasy;
}

.origami:hover{
    transform: scale(1.2);
}

a:link{
    color:white;
 }
 a:visited{
     color:white;
 }